.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    &__inner {
        width: 30vw;
        height:  30vw; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        gap: 1rem;
    }


    &__card {
        border-radius: 0.5rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

